input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.inputTodo{
	padding-top: 20px;
	padding-bottom: 20px;
}
.strike{
	text-decoration: line-through;
}

.save{
	display: none;
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 6px 9px;
    vertical-align: middle;
    border-radius: 4px;
}

.dropdown{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
